-- MySQL dump 10.13  Distrib 5.1.73, for redhat-linux-gnu (x86_64)
--
-- Host: localhost    Database: the
-- ------------------------------------------------------
-- Server version	5.1.73

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bank`
--

DROP TABLE IF EXISTS `bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `enabled` tinyint(1) DEFAULT '1',
  `name` varchar(128) DEFAULT NULL,
  `name_j` varchar(128) DEFAULT NULL,
  `page_url` varchar(1024) DEFAULT NULL,
  `v_start_key` varchar(128) DEFAULT NULL,
  `v_length` int(11) DEFAULT NULL,
  `v_regex` varchar(256) DEFAULT NULL,
  `v_ratio` float DEFAULT '1',
  `d_start_key` varchar(128) DEFAULT NULL,
  `d_length` int(11) DEFAULT NULL,
  `d_regex` varchar(256) DEFAULT NULL,
  `d_type` int(11) DEFAULT NULL,
  `image` varchar(128) DEFAULT NULL,
  `update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `order` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=22 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

INSERT INTO `bank` VALUES (1,1,'Bangkok Bank','バンコク銀行','http://www.bangkokbank.com/MajorRates/FXRatesEn.htm','JPY',500,'/JPY<\\/div><\\/td><td width=\"30%\" align=\"center\" class=\"cssCC\" bgcolor=\"#D0D8ED\">(.*?)<\\/div>/',1,'<img src=\"logo_small.gif\"',500,'/<img src=\"logo_small.gif\" align=\"absmiddle\">&nbsp; (\\d{2})-(\\d{2})-(\\d{2}) at (\\d{1,2}):(\\d{2})<\\/td>/',1,'bk-logo.jpg','2010-01-23 14:17:10',NULL),(2,1,'Siam Commercial Bank','サイアムコマーシャル銀行','http://www.scb.co.th/scb_api/index.jsp','JAPANESE YEN:100',1000,'/<td align=\"right\" class=\"TextMainGlayRight\">(.*?)</',1,'background=\"img_share/bg_date.gif\"',1000,'/\"TextMainGlayHL\">([a-zA-Z]*?) (\\d{2}), (\\d{4})  (\\d{2}):(\\d{2})</',2,'sb-logo.jpg','2010-01-24 08:56:26',NULL),(3,0,'Kasikorn Bank','カシコン銀行','http://www.kasikornbank.com/EN/RatesAndFees/ForeignExchange/Pages/ForeignExchange.aspx','JPY',1000,'/Yen[\\s]*<\\/td><td class=\"D3\">(.*?) <\\/td><td class=\"D4\">/',100,'MSOZoneCell_WebPartctl',1000,'/Date (.*?) ([a-zA-Z]*?) (\\d{4}) Time (\\d{2}):(\\d{2}):(\\d{2}) Round/',7,'kk-logo.jpg','2010-01-24 08:57:09',NULL),(4,0,'Bank of Ayudhya','アユタヤ銀行','https://www.krungsri.com/bank/en/Other/ExchageRate/Todayrates.html','JPY',1000,'/<td  style=\'\'  align=\'right\'  bg=\'bg\'>([\\d]{2}\\.[\\d]{5})<\\/td>/',1,'p_lt_ctl18_ksP_p_lt_ctl05_ExchangeRate_lblDateNow',1000,'/(\\d{2})\\/(\\d{2})\\/(\\d{4})[\\s\\S]*(\\d{2}):(\\d{2})<\\/span>/',11,'ks-logo.jpg','2010-01-24 08:57:40',NULL),(5,0,'BankThai','バンクタイ銀行','http://www.bankthai.co.th/website/SelectViewFolderAction.do?folder_id=000000000000048&can_login_flg=&back_login=F&lang=en','JAPANESE YEN',100,'/JAPANESE YEN<\\/td>[\\s]*<td  align=\"right\">(.*?)<\\/td>/',100,'Effective Date',500,'/>[\\s]*<option value=\"(\\d{2})\\/(\\d{2})\\/(\\d{4}) (\\d{2}):(\\d{2}):(\\d{2}),\\d{1}\" >\\d{2}\\/\\d{2}\\/\\d{4} Time \\d{2}:\\d{2} Round \\d{1}<\\/option>/',4,'bk-logo2.jpg','2010-01-24 08:58:20',NULL),(6,0,'Krung Thai Bank','クルンタイ銀行','https://www.exch.ktb.co.th/ExRateKTB/ExCounterRate.do?action=currentRate','JPY',1000,'/<small><font face=\".*\">[\\s]*([\\d.]*)[\\s]*<\\/font><\\/small><\\/td>/',100,'Date',500,'/Date :<\\/b>[\\s]*(\\d{2}) ([a-zA-Z]{3}) (\\d{4}) (\\d{2}):(\\d{2}):(\\d{2})/',4,'kt-logo.jpg','2010-01-24 08:59:08',NULL),(7,0,'Siam City Bank','サイアムシティー銀行','http://203.147.4.235/Bankrate/exchange_rate.htm','JPY/100',200,'/>[\\s]*(\\d{2}.\\d{0,8})[\\s]*</',1,'DATE:',800,'/(\\d{2})\\/(\\d{2})\\/(\\d{4})(?:\\s|.)*?TIME:(?:\\s|.)*?<font color=\"#FF6666\">[\\s]*(\\d{2}):(\\d{2})/',1,'nk-logo.jpg','2010-01-24 08:59:42',NULL),(8,1,'UOB Bank','大華銀行','https://ereport.uob.co.th/UOBWebFrontService/Exchange/Fx_Rate_Eng.jsp?flags=LastFx','JPY',500,'/100&nbsp;<\\/TD>[\\s]*<TD align=center>&nbsp; (.*?)&nbsp/',1,'#2E3D96',500,'/(\\d{2}) \\/ (\\d{2}) \\/ (\\d{4}) &nbsp; &nbsp; &nbsp; Updated : (\\d)/',6,'uob-logo.jpg','2010-01-24 09:00:12',NULL),(9,0,'Super Rich','スーパーリッチ1965','http://www.superrich1965.com/rate.php','Japan',1000,'/<td style=\"width:100px;\">([\\d.]*)<\\/td>/',100,'Last update',1000,'/Last update :(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2}):(\\d{2})<\\/p>/',3,'spr-logo.jpg','2010-01-29 14:50:09',NULL),(19,1,'Sippakorn Money Exchange','Sippakorn Money Exchange','http://www.sippakornmoneyexchange.com/','Japan',2000,'/10000<\\/td>\\s*<td style=\"text-align:center; height:24px; border-bottom: 1px solid #999; font-size:16px; font-weight:bold;\">([0]\\.\\d{4}).*?<\\/td>/',100,'Update',100,'/Date:[\\s]*([\\d]{1,2})\\/([\\d]{1,2})\\/([\\d]{2,4})<br \\/>[\\s]*Time:[\\s]*([\\d]{1,2}):([\\d]{1,2}):([\\d]{1,2})/',4,'no.png','2012-07-07 17:32:14',NULL),(10,1,'Siam Exchange','サイアムエクスチェンジ','http://www.siamexchange.co.th/index.php?page=rate&ln=en','JPY',500,'/<span style=\"font-size:28px; font-weight: bold;color: #298405 !important;\">([0]\\.[\\d]*)<\\/span>/',100,'Last Update',500,'/Last Update : ([\\d]{1,2})[\\s](.{3}) ([\\d]{4}) ([\\d]{2}):([\\d]{2}):([\\d]{2})<\\/strong>/',11,'no.png','2010-01-29 14:51:32',NULL),(11,0,'Super Rich Thailand','スーパーリッチ タイランド','http://www.superrichthailand.com/exchange?lang=en','Japan',1000,'/content_SnippetCurrencytable_currencyGridView_Label1_12\">(.*?)<\\/span>/',100,'Date:',500,'/content_SnippetCurrencytable_dateLabel\">([\\d]{2})-([\\d]{2})-([\\d]{4})<\\/span>[\\s\\S]*content_SnippetCurrencytable_timeLabel\">([\\d]{2}):([\\d]{2}):([\\d]{2})/',4,'no.png','2012-01-27 15:27:25',NULL),(12,1,'VASU','VASU','http://vasuexchange.com/','&nbsp;&nbsp;JPY',500,'/<td width=\"151\" align=\"center\" valign=\"middle\" bgcolor=\"#[\\d._]*?\" class=\"text_022_16\">([\\d.]*?)<\\/td>/',100,'last.jpg',500,'/last.jpg\" class=\"text_03\" >([\\d]{4})-([\\d]{2})-([\\d]{2}) ([\\d]{2}):([\\d]{2}):([\\d]{2}).*?&nbsp;&nbsp;&nbsp;<\\/td>/',8,'no.png','2012-01-29 07:05:04',NULL),(13,1,'SIA MONEY EXCHAGE','シアマネーエクスチェンジ','http://www.sia-moneyexchange.com/en/rate.php','JPY',1000,'/<td height=\"20\"class=\"show-rate\" align=\"center\">([\\d.]*?)<\\/td>/',100,'Last Update',200,'/[\\s]*:[\\s]*(\\d{2})\\/(\\d{2})\\/(\\d{4}).*(\\d{2}):(\\d{2}):(\\d{2})/',10,'no.png','2012-07-07 17:22:58',NULL),(14,0,'LINDA EXCHANGE','リンダエクスチェンジ','http://www.lindaexchange.com/exchange-rate.html','JPY',500,'/<td class=\"style3\"><div align=\"center\">([\\d.]{4,})<\\/div><\\/td>/',100,'Date',500,'/Date[\\s]*:[\\s]*(\\d{1,})[\\s]*([a-zA-Z]{3,})[\\s]*(\\d{4})[\\s]*<[\\/a-zA-Z]*><[\\/a-zA-Z]*>[\\s]*[<a-zA-Z\\s=\">\\d:]*([\\d]{1,}).([\\d]{1,})/',9,'no.png','2012-07-07 17:25:02',NULL),(15,1,'GRAND Super Rich','グランドスーパーリッチ','http://www.grandsuperrich.com/rate.php','JPY',500,'/buy\'>([\\d.]{4,7})<\\//',100,'Last',200,'/([a-zA-Z]{3,9})[\\s]*([\\d]{2}),[\\s]*([\\d]{4})[\\s-]*([\\d]{2}):([\\d]{2}):([\\d]{2})/',7,'no.png','2012-07-07 17:27:20',NULL),(16,0,'TWELVE VICTORY EXCHANGE','トゥエルブビクトリーエクスチェンジ','http://twelvevictoryexchange.com/exchange2.php?home=enter&lang=en&id=','JPY',1000,'/<span class=\"red-txt bold-txt\">(.*)<\\/span>/',100,'<strong>',200,'/<strong>([\\d]{2})[\\s]*(.{3})[\\s]([\\d]{4})&nbsp;&nbsp;&nbsp;([\\d]{2}).([\\d]{2})<\\/strong>/',11,'no.png','2012-07-07 17:29:21',NULL),(17,0,'Super Rich Chiang Mai','スーパーリッチ チェンマイ','http://superrichchiangmai.com/exchange_rate.php',NULL,NULL,NULL,1,NULL,NULL,NULL,NULL,NULL,'2012-07-07 17:31:00',NULL),(18,1,'K79 EXCHANGE','K79エクスチェンジ','http://www.k79exchange.com/','JPY',1000,'/<\\/a><\\/td>\\s*<td align=\"left\" valign=\"middle\" class=\'black\'>([\\d.]{3,})<\\/td>/',100,'updateTime',100,'/(\\d{4})-(\\d{2})-(\\d{2}) (\\d{2}):(\\d{2}):(\\d{2})/',8,'no.png','2012-07-07 17:32:14',NULL),(20,1,'POWER EXCHANGE','パワーエクスチェンジ','http://www.powerexchange.co.th/exchange.php','JPY',1000,'/Yen<\\/strong><\\/td>\\s*<td><strong>(.*?)<\\/strong>/',100,'Last update',500,'/<strong>\\s*([\\d]{1,2})\\/([\\d]{1,2})\\/([\\d]{2,4})[\\s]*([\\d]{1,2}):([\\d]{1,2}):([\\d]{1,2})/',4,'no.png','2012-07-07 17:32:14',NULL),(21,0,'MT EXCHANGE','MTエクスチェンジ','http://www.powerexchange.co.th/exchange.php','JPY',1000,'/Yen<\\/strong><\\/td>\\s*<td><strong>(.*?)<\\/strong>/',100,'Last update',500,'/<strong>\\s*([\\d]{1,2})\\/([\\d]{1,2})\\/([\\d]{2,4})[\\s]*([\\d]{1,2}):([\\d]{1,2}):([\\d]{1,2})/',4,'no.png','2012-07-07 17:32:14',NULL);

--
-- Table structure for table `bank_int`
--

DROP TABLE IF EXISTS `bank_int`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_int` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `enabled` tinyint(1) DEFAULT '1',
  `name` varchar(128) DEFAULT NULL,
  `name_j` varchar(128) DEFAULT NULL,
  `page_url` varchar(1024) DEFAULT NULL,
  `v_start_key` varchar(128) DEFAULT NULL,
  `v_length` int(11) DEFAULT NULL,
  `v_regex_array` varchar(256) DEFAULT NULL,
  `v_regex_rate` varchar(256) DEFAULT NULL,
  `v_index_buy` int(11) DEFAULT NULL,
  `v_index_sell` int(11) DEFAULT NULL,
  `v_regex_currency` varchar(256) DEFAULT NULL,
  `v_ratio` float DEFAULT '1',
  `d_start_key` varchar(128) DEFAULT NULL,
  `d_length` int(11) DEFAULT NULL,
  `d_regex` varchar(256) DEFAULT NULL,
  `d_type` int(11) DEFAULT NULL,
  `image` varchar(128) DEFAULT NULL,
  `update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `order` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

INSERT INTO `bank_int` VALUES (10,1,'Siam Exchange','サイアムエクスチェンジ','http://www.siamexchange.co.th/index.php','Selling Rates',30000,'/<tr[\\s\\S]*?>([\\s\\S]*?)<\\/tr>/','/<td[\\s\\S]*?>([\\d\\.]*?)<\\/td>/',0,1,'/<td[\\s\\S]*>([^<][a-zA-Z\\d\\s$-]*?)<\\/td>/',100,'<td valign=\"top\"',500,'/DATE : (\\d{2})-([a-zA-Z]{3})-(\\d{4})[\\s]*UPDATE :[\\s]*(\\d{2}):(\\d{2}):(\\d{2})<\\/div>/',4,'no.png','2010-01-29 05:51:32',NULL),(11,0,'Super Rich Thailand','スーパーリッチ','http://www.superrichthailand.com/editor/rate.html','Country',30000,'/<TR[\\s\\S]*?>([\\s\\S]*?)<\\/TR>/','/<TD[\\s\\S]*?><div class=\'whitefont\'><b>([\\d\\.]*?)<\\/b><\\/div><\\/TD>/',0,1,'/<TD><b>([a-zA-Z\\d\\s$-]*?)<\\/b><\\/TD>/',100,'Date',500,'/Date:(\\d{2})\\/(\\d{2})\\/(\\d{4})<br>TIME: (\\d{2}):(\\d{2})</',1,'no.png','2012-11-16 01:15:36',NULL),(3,1,'Kasikorn Bank','カシコン銀行','http://www.kasikornbank.com/EN/RatesAndFees/ForeignExchange/Pages/ForeignExchange.aspx','<td class=\"H7\">BANK NOTES</td>',30000,'/<tr[\\s\\S]*?>([\\s\\S]*?)<\\/tr>/','/<td class=\".*?\">([\\d\\.\\s-]*?)<\\/td>/',0,5,'/<td class=\"D1\">([a-zA-Z\\d\\s$-]*?)<\\/td>/',100,'MSOZoneCell_WebPartctl',1000,'/Date (.*?) ([a-zA-Z]*?) (\\d{4}) Time (\\d{2}):(\\d{2}):(\\d{2}) Round/',7,NULL,'2012-11-23 21:24:49',NULL),(1,0,'Bangkok Bank','バンコク銀行','http://www.bangkokbank.com/MajorRates/FXRatesEn.htm',NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL,NULL,NULL,NULL,'2013-05-27 17:26:38',NULL),(2,1,'Siam Commercial Bank','サイアムコマーシャル銀行','http://www.scb.co.th/scb_api/index.jsp','Export Sight Bill',30000,'/<tr[\\s\\S]*?>([\\s\\S]*?)<\\/tr>/','/class=\".*?\">([\\d\\.\\s-]*?)<\\/td>/',5,1,'/<span class=\"style7 \">([a-zA-Z\\d\\s$-]*?)<\\/span>/',1,'background=\"img_share/bg_date.gif\"',1000,'/\"TextMainGlayHL\">([a-zA-Z]*?) (\\d{2}), (\\d{4})  (\\d{2}):(\\d{2})</',2,'sb-logo.jpg','2013-05-27 17:31:40',NULL),(4,1,'Bank of Ayudhya','アユタヤ銀行','http://www.krungsri.com/en/foreign-exchange-rates.aspx','5-20',30000,'/<\\/div><\\/td>([\\s\\S]*?)<\\/tr>/','/<div align=\"right\">&nbsp;([\\d\\.\\s-]*?)<\\/div>/',0,1,'/<div align=\"center\">&nbsp;([a-zA-Z\\s$-]*?)<\\/div>/',1,'>Date',1000,'/Date (\\d{2})\\/(\\d{2})\\/(\\d{4}) Time (\\d{2}):(\\d{2}):(\\d{2}) Round/',5,'ks-logo.jpg','2013-05-27 18:05:57',NULL),(6,0,'Krung Thai Bank','クルンタイ銀行','https://www.exch.ktb.co.th/ExRateKTB/ExCounterRate.do?action=currentRate','Sight Bill',30000,'/<tr[\\s\\S]*?>([\\s\\S]*?)<\\/tr>/','/<br\\/>([\\d\\.\\s-]*?)<\\/font><\\/small>/',0,1,'/<font face=\"MS Sans Serif\">([a-zA-Z\\d\\s$-]*?)<\\/font><\\/small>/',1,'Date',500,'/Date :<\\/b>[\\s]*(\\d{2}) ([a-zA-Z]{3}) (\\d{4}) (\\d{2}):(\\d{2}):(\\d{2})/',4,NULL,'2013-05-27 19:12:18',NULL),(12,1,'VASU','VASU','http://vasuexchange.com/',NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,NULL,NULL,NULL,NULL,NULL,'2013-05-27 19:34:10',NULL);

--
-- Table structure for table `country_int`
--

DROP TABLE IF EXISTS `country_int`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `country_int` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `currency_int`
--

DROP TABLE IF EXISTS `currency_int`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `currency_int` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `country_id` int(11) unsigned NOT NULL,
  `name` varchar(128) DEFAULT NULL,
  `sign` varchar(8) DEFAULT NULL,
  `symbol` varchar(8) DEFAULT NULL,
  `ratio` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `device_token`
--

DROP TABLE IF EXISTS `device_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_token` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `token` varchar(64) NOT NULL DEFAULT '',
  `update` timestamp NULL DEFAULT NULL,
  `disabled` int(11) unsigned DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=MyISAM AUTO_INCREMENT=470 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `device_token_pro`
--

DROP TABLE IF EXISTS `device_token_pro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `device_token_pro` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `token` varchar(64) NOT NULL DEFAULT '',
  `update` timestamp NULL DEFAULT NULL,
  `disabled` int(11) unsigned DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `token` (`token`)
) ENGINE=MyISAM AUTO_INCREMENT=131 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rate`
--

DROP TABLE IF EXISTS `rate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rate` (
  `bank_id` int(11) NOT NULL,
  `value` float NOT NULL,
  `ch` float NOT NULL,
  `bank_update` varchar(32) NOT NULL,
  `update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`bank_id`,`bank_update`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `rate_int`
--

DROP TABLE IF EXISTS `rate_int`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rate_int` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `bank_id` int(11) unsigned NOT NULL,
  `currency_id` int(11) unsigned NOT NULL,
  `buy_value` float DEFAULT NULL,
  `sell_value` float DEFAULT NULL,
  `buy_change_value` float DEFAULT NULL,
  `sell_change_value` float DEFAULT NULL,
  `buy_change_ratio` float DEFAULT NULL,
  `sell_change_ratio` float DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bank_id` (`bank_id`),
  KEY `currency_id` (`currency_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2575815 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `set_thai`
--

DROP TABLE IF EXISTS `set_thai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `set_thai` (
  `s` float NOT NULL,
  `s100` float NOT NULL,
  `s50` float NOT NULL,
  `ch` float NOT NULL,
  `ch100` float NOT NULL,
  `ch50` float NOT NULL,
  `set_update` datetime NOT NULL,
  `update` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`set_update`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2017-04-10 22:49:53
